// Override markdown link styles to use pink
article,
.markdown,
.card-body {
  a:not(.btn):not([class^="carousel-"]):not([class^="list-"]):not(.no-underline) {
    display: inline-block;
    text-decoration: none;
    color: #ffadad;

    &:hover {
      color: #ff9090;
    }

    &::after {
      content: "";
      display: block;
      height: 0.15em;
      margin-top: -0.15em;
      width: 0;
      background: #ffadad !important;
      transition: width 0.35s;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

// Override for tag pages
ol a li {
  color: #ffadad;

  &:hover {
    color: #ff9090;
  }
}
